*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.title {
  position: relative;
  text-align: center;
  font-size: 3rem;
  font-family: sans-serif;
}

.title::after {
  content: '';
  background: red;
  width: 5rem;
  height: 0.3rem;
  position: absolute;
  bottom: -1rem;
  right: 50%;
}

/* 
===================
===================
Colors Start
===================
===================
*/
:root {
  --grey-light: #eee;
  --white: white;
  --blue-dark: rgb(25, 67, 107);
  --black: black;
}
/* 
===================
===================
Colors End
===================
===================
*/

/* 
===================
===================
Typography Start
===================
===================
*/

html {
  font-size: 31.25%;
}

@media (min-width: 425px) {
  html {
    font-size: 37.5%;
  }
}

@media (min-width: 725px) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 62.5%;
  }
}

/* 
===================
===================
Typography End
===================
===================
*/

/* 
===================
===================
Information Start
===================
===================
*/
.information {
  background: var(--grey-light);
}

.information__flex {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  list-style: none;
}

.information a {
  margin: 0 1rem;
  text-decoration: none;
  color: var(--blue-dark);
}

.line {
  height: 3rem;
  width: 0.1rem;
  background: var(--white);
}

.information img {
  height: 4rem;
}

.information button {
  padding: 0.25rem;
  background: none;
  border: 1px solid var(--black);
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
}
/* 
===================
===================
Information End
===================
===================
*/

/* 
===================
===================
Logo Start
===================
===================
*/
.logo {
  display: flex;
  justify-content: space-between;
}

.logo img {
  height: 5rem;
}
/* 
===================
===================
Logo End
===================
===================
*/

/* 
===================
===================
Nav Start
===================
===================
*/

nav ul {
  padding: 1rem 0;
  gap: 3rem;
  list-style: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav img {
  height: 8rem;
}

nav a {
  font-size: 1.5rem;
  color: var(--black);
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  font-family: sans-serif;
}

nav a:hover {
  transform: scale(1.1);
  color: var(--blue-dark);
}
/* 
===================
===================
Nav End
===================
===================
*/

/* 
===================
===================
galery Start
===================
===================
*/
.img {
  margin-top: 2rem;
}

.img img {
  width: 100%;
}
/* 
===================
===================
galery End
===================
===================
*/

/* 
===================
===================
Header Start
===================
===================
*/
.header {
  text-align: center;
  font-family: sans-serif;
  margin-top: 3rem;
}

.header h2 {
  font-size: 3rem;
}

.header span {
  color: var(--blue-dark);
}

.header p {
  text-align: justify;
  font-size: 1.5rem;
  margin: 2rem 0;
  line-height: 2.5rem;
}
/* 
===================
===================
Header End
===================
===================
*/

/* 
===================
===================
Testimonial start
===================
===================
*/
.testimonial {
  margin-top: 3rem;
}

.testimonial .title {
  color: var(--blue-dark);
}

.testimonial__flex {
  margin-top: 10rem;
  display: flex;
  gap: 2rem;
}

.testimonial__flex div {
  text-align: center;
  flex: 1;
  padding: 1rem 5rem;
  box-shadow: 0 0 1.2rem rgb(70, 68, 68);
  border-radius: 1rem;
}

.testimonial__flex img {
  margin-top: -4rem;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.testimonial__flex h2 {
  color: var(--blue-dark);
  font-weight: 700;
  margin-top: 2rem;
}

.testimonial__flex h3 {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.testimonial__flex p {
  text-align: justify;
  font-size: 1.5rem;
  font-family: sans-serif;
  line-height: 2rem;
}

.testimonial__flex a {
  text-align: right;
  display: block;
  margin-top: 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--blue-dark);
  font-family: sans-serif;
}

/* 
===================
===================
Testimonial End
===================
===================
*/

/* 
===================
===================
Technavas Start
===================
===================
*/
.techcanvass {
  margin-top: 3rem;
  font-family: sans-serif;
}

.techcanvass h3 {
  margin-top: 3rem;
  font-size: 1.5rem;
}

.techcanvass__flex {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
}

.techcanvass ul {
  list-style: none;
  flex: 1;
}

.techcanvass li {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
}

.techcanvass h2 {
  margin-bottom: 0.7rem;
}

.techcanvass p {
  font-size: 1.5rem;
}

.techcanvass img {
  height: 10rem;
  width: 10rem;
}

.techcanvass__form form {
  text-align: center;
  padding: 2rem 2rem;
  border: 1px solid #eee;
  margin-bottom: 2rem;
}

.techcanvass__form input {
  display: block;
  width: 100%;
  padding: 1rem 1rem;
  border: 1px solid rgb(133, 133, 133);
}

.techcanvass__form input:focus {
  outline: none;
}

.techcanvass__form div {
  display: flex;
  margin: 2rem 0;
}

.techcanvass__form .gap {
  gap: 2rem;
}

.techcanvass__form form button {
  margin-top: 2rem;
  padding: 1rem;
  background: var(--blue-dark);
  color: white;
  border: none;
  cursor: pointer;
}

.techcanvass section {
  text-align: center;
  border: 1px solid #eee;
  border-bottom: 0;
  padding: 2rem 0;
}

.techcanvass section button {
  margin-top: 1rem;
  padding: 1rem;
  background: transparent;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  cursor: pointer;
}
/* 
===================
===================
Technavas End
===================
===================
*/

/* 
===================
===================
Courses Start
===================
===================
*/
.row {
  margin: 3rem 0;
}

.row__flex {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.row__flex{
  flex: 1;
  font-family: sans-serif;
  margin-top: 5rem;
}

.row__flex img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.row__flex h2 {
  margin-top: 1rem;
  font-size: 2rem;
}

.row__flex h3 {
  font-weight: 300;
  margin-bottom: 1rem;
}

.row__flex ul {
  list-style: none;
  margin-bottom: 2rem;
}

.row__flex ul p {
  font-size: 1.5rem;
  margin: 0;
  text-align: start;
}

.row__flex p {
  text-align: right;
}
/* 
===================
===================
Courses End
===================
===================
*/
